.container
{
    width: 100%;
    height: 20vh;
    background-color: #092159;
    color: #FFFFFF;
    border: 0;
}

.cbf
{
    height: 20vh;
    box-sizing: border-box;
    display: flex;
    padding: 2% 4%;
}

.cbf img
{
    height: 12vh;
    padding-right: 3%;
    vertical-align: middle;
}

.div1
{
    width: 32vw;
    font-family: 'Poppins';
    font-size: 1.1rem;
    color: #FFFFFF;
    padding-right: 52%;
}

.div2
{
    height: 13vh;
}

.div2 img
{
    height: 8vh;
}
