.container
{
    max-height: 112px;
    width: 100%;
    background-color: #092159;
    color: #FFFFFF;
    border: 0;
    display: flex;
}

.cbf
{
    width: 100%;
    box-sizing: border-box;
    padding: 2% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cbfLogo
{
    height: 90%;
    vertical-align: middle;
}

.div1
{
    max-width: 60%;
    font-size: min(12px, 2vw);
    font-weight: 300;
    color: #FFFFFF;
    display: flex;
    gap: 16px;
}

.text 
{
    padding-top: 3%;
}

.div2
{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 13vh;
    font-size: 12px;
    font-weight: 300;
}

.div2 img
{
    width: 92%;
}
